body * {
  font-family: 'Readex Pro', sans-serif;
  font-weight: 200;
}

body {
  background-color: #000;
  color: #fff;
}

.logo-h {
  height: 2.4em;
}

.about-heading {
  background-color: #16A3B8;
  text-align: center;
}

.about-heading i {
  font-size: 2em;
}

.about p {
  text-align: justify;
}

.borde-h2 {
  border-bottom: 1px solid #16A3B8;
}

.bg-brand-card {
  background-color: #16A3B8;
  color: #fff;
}

.card-h {
  height: 22em;
  overflow: scroll;
}

.iconos-rrss i {
  font-size: 2.5em;
}


.sticky-fix {
  top: -74px;
}

.card-img-overflow {
  overflow: hidden;
}


.card-img-overflow img {
  height: 100%;
}

.fixed-top.scrolled {
  background-color: #000 !important;
  transition: background-color 200ms linear;
}

.nav-link {
  text-shadow: 1px 1px 4px #000;
}

#nav-about {
  display: inline;
}

@media only screen and (max-width: 576px) {
  #nav-about {
    display: none;
  }  
}